@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #e99f87 0.89%,
      #ec977a 17.23%,
      #f78d6a 42.04%,
      #fa8862 55.12%,
      #f3825d 71.54%,
      #F57E57 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  /* background: var(--black-gradient);
  box-shadow: var(--card-shadow); */
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, #f5a78d 0%, #F57E57 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #eca790 0%, #F57E57 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.contact-holder {
  height: 100%;
  background-color: whitesmoke;
  width: 100%;
  margin-bottom: 20px;
}

.contact {
  background-image: url('./assets//FigmaDesigns//wave.svg');
  background-size: cover;
  background-position: 100%;
  height: 100%;
}

.contact-h1 {
  min-width: 70%;
  padding: 40px;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 83px #bebebe,
    -20px -20px 83px #ffffff;
  /* opacity: 0.5; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.contact-form {
  /* border-radius: 50px; */
  /* background: #bbacf3; */
  max-height: auto;
  background: #e0e0e0;
  /* box-shadow: 20px 20px 83px #bebebe,
    -20px -20px 83px #ffffff; */
}